.explore{
    width: 100vw;
    height: 100vh;
    background-image: url('images/bg2.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 50px;

    &-content{
        width: 60%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;

        h1{
            color: $text-color;
            font-size: 7vmin;
            text-align: center;
        }

        p{
            color: rgb(151, 124, 124);
            width: 80%;
        }
    }

}