.footer{
    background-color: $footer-color;
    width: 100vw;
    text-align: center;
    padding: 50px;

    p{
        color: $text-color;
        text-align: center;
        margin: 10px 0;
        

    }
}